.datatable{

    background:white;

    border-radius:14px;

    overflow:hidden;

    box-shadow:0 4px 20px rgba(0,0,0,.08);

}

.datatable table{

    width:100%;

    border-collapse:collapse;

}

.datatable thead{

    background:#f3f4f6;

}

.datatable th{

    padding:16px;

    text-align:left;

}

.datatable td{

    padding:16px;

    border-top:1px solid #eee;

}

.datatable tbody tr:hover{

    background:#fafafa;

}

.pagination{

    padding:20px;

    text-align:right;

}